body{
    background-image: url(vURuBTgIHepUfrG4vDPoMOB74AvawkmPrwtf5BaqjuE.jpg.webp);
    min-height: 100vh;
    background-size: cover;
}

.players-containers{
    background-image: url(imposter.png);
    background-size: contain;

    position: absolute;
    background-repeat: no-repeat;
    left: 100%;
    top: 50%;
    width: 500px;
    height: 500px;
    animation: amoungAnimations 4s infinite;
  }

.players-containers img{
  width: 100%;
}

@keyframes amoungAnimations {
  1%{
    top: 20%;
    left: 100%;
   
  }

  20%{
    top: 20%;
    left: 90%;
   
    /* width: 240px; */
  }

  40%{
    left: 80%;
    top: 50%;
 
  } 

    60% {
      top: 50%;
      left: 80%;
     
    }
 
    80%{
      top: 50%;
      left: 50%;
      
      /* width: 240px; */
    }
 
    100%{
      left: 20%;
      top: 50%;
      
  
  }
}

.yellow-players-container{
  background-image: url(yellow.png);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  left: 80%;
  top: 90%;
  width: 500px;
  height: 600px;
  animation: amoungAnimations2 4s infinite;
}

  
  
  
.yellow-players-container img{
  width: 100%;
}

@keyframes amoungAnimations2 {
  1%{
    top: 50%;
    left: 80%;
   
  }

  20%{
    top: 50%;
    left: 90%;
   
    /* width: 240px; */
  }

  40%{
    left: 50%;
    top: 50%;
 
  } 

    60% {
      top: 50%;
      left: 50%;
     
    }
 
    80%{
      top: 50%;
      left: 30%;
      
      /* width: 240px; */
    }
 
    100%{
      left: 1%;
      top: 50%;
      
  
  }