body{
    background-image: url( Polus_Storage.webp);
    min-height: 100vh;
    background-size: cover;
}


.orange-players-container{
    background-image: url(yellow.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    left: 60%;
    top: 50%;
    width: 150px;
    height: 200px;
    animation: amoungAnimations2 4s infinite;
  }
  
    
    
    
  .orange-players-container img{
    width: 100%;
  }
  
  .players-containers{
    background-image: url(imposter.png);
    background-size: contain;

    position: absolute;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    animation: amoungAnimations 4s infinite;
  }

.players-containers img{
  width: 100%;
}


@keyframes amoungAnimations {
    1%{
      top: 20%;
      left: 90%;
     
    }
  
    20%{
      top: 20%;
      left: 80%;
     
      /* width: 240px; */
    }
  
    40%{
      left: 80%;
      top: 50%;
   
    } 
  
      60% {
        top: 50%;
        left: 80%;
       
      }
   
      80%{
        top: 50%;
        left: 50%;
        
        /* width: 240px; */
      }
   
      100%{
        left: 20%;
        top: 30%;
        
    
    }
  }
  

@keyframes amoungAnimations2 {
    1%{
      top: 20%;
      left: 90%;
     
    }
  
    20%{
      top: 20%;
      left: 90%;
     
      /* width: 240px; */
    }
  
    40%{
      left: 90%;
      top: 50%;
   
    } 
  
      60% {
        top: 50%;
        left: 90%;
       
      }
   
      80%{
        top: 50%;
        left: 60%;
        
        /* width: 240px; */
      }
   
      100%{
        left: 30%;
        top: 30%;
        
    
    }
  }
  